.about
   padding: 37px 0 64px
   &__title
      margin-bottom: 33px
   &__text
      max-width: 700px
      margin: 0 auto 100px
      text-align: center
      &-descr
         +f('man300', 14, 19)
         &_size
            margin: 0 auto 30px
            max-width: 618px
      &-quote
         position: relative
         max-width: 600px
         margin: 45px auto
         padding: 0 20px 0 66px
         +f('pn600', 20, 20)
         letter-spacing: 0.31px
         text-align: left
         color: #6D788C
         &-icon
            position: absolute
            top: 0
            left: 0
            font-size: 31px
   &__items-container
      max-width: 1200px
   &__row
   &__item
      $parent: &
      +f('pn600', 16)
      letter-spacing: 0.25px
      text-align: center
      &-diamond
         margin-bottom: 55px
      &-descr
         max-width: 210px
         margin: 0 auto
