.advantages
   padding: 56px 0 110px
   &__title
      padding-left: 40px
      margin-bottom: 88px
      .section-title__text
         letter-spacing: .5px
   &__row
      flex-wrap: wrap
      justify-content: center
      margin: 0 -38px
   &__item
      $parent: &
      text-align: center
      &:nth-child(3) ~ &
         flex: 0 1 37%
         width: 37%
         padding: 85px 60px 0
   
      &-title
         margin-bottom: 20px
         +f('pn900', 38, 36)
         letter-spacing: 0.6px
         color: #D5B893
         #{$parent}:nth-child(1) &
            margin-left: -12px
         #{$parent}:nth-child(3) &
            margin-left: 12px
            
      &-icon
         margin-bottom: 16px
         fill: #D5B893
         .icon-whatsapp
            font-size: 39px
         .icon-coin-purse
            font-size: 36px
      &-descr
         +f('pn600', 14, 17)
         color: $white
