.screen
   &__content
      position: relative
      padding: 220px 0 140px
      +sm
         padding: 170px 0 140px
      +xs
         padding: 140px 0 140px
      &::after
         position: absolute
         top: 100%
         left: 0
         width: 100%
         height: 121px
         background-color: #D5B893
         content: ''
   &__title
      max-width: 900px
      margin: 0 auto 30px
   &__container
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      height: 100%
      text-align: center
   &__btn
      min-width: 410px
      +xs
         min-width: 0
   &__benefits
      position: relative
      z-index: 1
      max-width: 1200px
      margin: -73px auto 0

.benefits
   padding: 50px 30px 60px
   background: $white
   border: 1px solid #DCB385
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04)
   +sm
      padding: 50px 0
   +xs
      position: relative
      padding: 80px 0
   &__row
      margin: 0 -10px
   &__item
      $parent: &
      position: relative
      text-align: center
      line-height: 17px
      color: #363C43
      +sm
         padding: 0 10px
      &:not(:last-child)
         +xs
            position: static
            padding: 0 10px 50px
         &::after
            position: absolute
            top: -18px
            right: 0
            width: 12px
            height: 205px
            background: url("../img/decor/vert-line.svg") no-repeat
            content: ''
            +xs
               right: calc(50% - 50px)
               transform: rotate(90deg)
               background-size: contain
               width: 100px
               height: 250px
               pointer-events: none
      .diamond-shape__title
         position: relative
         top: 5px
      &:nth-child(1)
         &::after
            +xs
               top: -45px
            
      &:nth-child(2)
         &::after
            right: -10px
            +md
               right: 0
            +sm
               right: -10px
            +xs
               top: auto
               bottom: -130px
         .diamond-shape__title
            font-size: 48px
      
      &-diamond
         margin-bottom: 23px
      &-title
      &-descr
         max-width: 280px
         margin: 0 auto
         +f('pn400', 14, 17)
         #{$parent}:nth-child(1) &
            max-width: 240px
      &-icon
