.why-us
   padding: 60px 0 75px
   &__container
      max-width: 1340px
   &__title
      max-width: 680px
      margin: 0 auto 40px
   &__item
      $parent: &
      color: $white
      text-align: center
      &-text
         margin-top: -13px
      &-title
         margin-bottom: 10px
         +f('pn700', 20, 24, 31)
      &-descr
         margin: 0 auto
         max-width: 290px
         +f('man400', 14, 19)
      &-icon
         position: relative
         +flexCenter
         height: 122px
         &::before
            position: absolute
            z-index: 1
            width: 1px
            height: 72px
            background-color: #D5B893
            transform: rotate(-45deg)
            content: ''
         &::after
            position: absolute
            top: calc(50% - 61px)
            left: calc(50% - 61px)
            z-index: -1
            width: 122px
            height: 122px
            background-image: linear-gradient(270deg, #f9f2ea 0%, #ffffff 100%)
            opacity: 0.31
            transform: rotate(45deg)
            content: ''
         .icon-scales
            font-size: 62px
         .icon-sand-clock
            font-size: 52px
         .icon-coins
            font-size: 48px
      
