//begin header
+b.HEADER.header(class= headerClass)
	+e.container.container
		+e.A.logo(href='#!')
			+e.IMG(src='img/other/logo.svg' alt='ЮРКОН')

		+b.nav.header__nav
			+e.BUTTON.btn
				+e.SPAN.btn-burger
					+e.SPAN.btn-lines

			+e.NAV.body
				-
					navList = [
					['Главная', 'screen'],
					['решения', 'advantages'],
					['преимущества', 'faq'],
					['получить оценку', 'solutions'],
					['о компании', 'config'],
					['Контакты', 'contacts']
					]
				+e.UL.list
					for navLink in navList
						+e.LI.list-item: +e.A.list-link(href=`#${navLink[1]}`)= navLink[0]
		+e.contact
			+e.A.contact-tel(href='tel:+74954610461') +7 (495) 461-0-461
			+e.A.contact-link(href='#!') ЗАКАЗАТЬ ЗВОНОК
//end header
