// *** begin logo *** //
.logo
   display: block
   flex: 0 0 107px
   width: 107px
// end logo //

// *** begin section-title *** //
.section-title
   $parent: &
   text-align: center
   &__text
      +f('pn700', 27, 33, 22)
      color: #21262D
      text-transform: uppercase
      +xs
         font-size: 24px
         line-height: 30px
      #{$parent}_color-1 &
         color: #21262D
      #{$parent}_color-2 &
         color: $white
      #{$parent}_lg &
         color: $white
         text-transform: none
         font-size: 38px
         line-height: 46px
         letter-spacing: 0.32px
         +xs
            font-size: 28px
            line-height: 36px
            letter-spacing: 0
         +r(374)
            font-size: 27px
            line-height: 34px
   &__descr
      margin-top: 6px
      +f('pn600', 13, 23, 22)
      text-transform: uppercase
      #{$parent}_lg &
         margin-top: 10px
         +f('pn700', 15, 19, 75)
      #{$parent}_color-1 &
         color: #D5B893
      #{$parent}_color-2 &
         color: #E21C21
// end section-title //

// *** begin diamond-shape *** //
.diamond-shape
   position: relative
   z-index: 2
   display: inline-flex
   align-items: center
   justify-content: center
   +f('pn900', 38, 46, 63)
   width: 80px
   height: 80px
   color: #21262D
   &::after
      position: absolute
      top: 0
      left: calc(50% - 40px)
      z-index: 1
      transform: rotate(45deg)
      width: 100%
      height: 100%
      background-color: #F9F2EA
      content: ''
   
   &__title
      z-index: 3
      &-descr
         display: block
         margin-top: -5px
         +f('pn400')
         font-size: 14px
         line-height: 17px
   &__icon
      position: relative
      top: 5px
      z-index: 3
      &_rubl
         &::after
            position: absolute
            top: -9px
            left: calc(50% - 3px)
            z-index: 1
            transform: rotate(45deg)
            width: 2px
            height: 55px
            background-color: #21262D
            content: ''
      svg
         font-size: 30px
// end diamond-shape //

// *** begin contact-block *** //
.contact-block
   &__item
      display: flex
      align-items: center
      justify-content: space-between
      +f('pn700')
      letter-spacing: 0
      &:not(:last-child)
         margin-bottom: 8px
         
      .icon-email
         font-size: 16px
   &__tel
      font-size: 18px
      line-height: 22px
      color: #21262D
   &__mail
      font-size: 16px
      line-height: 20px
   
// end contact-block //

// *** begin scroll-top-btn *** //
.scroll-top-btn
   display: inline-flex
   align-items: center
   padding: 9px 14px 9px 22px
   border-radius: 19px
   background-color: #fff
   &:hover
      svg
         animation: smallMoveUp .3s ease-in-out
   span
      margin-right: 20px
      +f('man500', 11, 13)
   svg
      font-size: 18px
// end scroll-top-btn //
