.popup
   position: fixed
   top: 0
   right: 0
   bottom: 0
   left: 0
   opacity: 0
   visibility: hidden
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
   z-index: 1300
   overflow: auto
   outline: 0
   text-align: center
   font-size: 0
   transform: translate3d(0, 0, 0)
   transition: .3s ease-in-out
   will-change: opacity, transform
   $parent: &
   &::before
      +coverdiv
      opacity: .9
      background: #17171a
      content: ''
   &:after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%
   &_md
      +xs
         background: $white
      &::after, &::before
         +xs
            display: none
      
   &.opened
      opacity: 1
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
      visibility: visible
   &__close
      position: absolute
      top: 7px
      right: 7px
      z-index: 10
      cursor: pointer
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      width: 20px
      height: 20px
      border: 0
      +xs
         top: 10px
         right: 10px
      &:hover svg
         fill: #d5b893
      svg
         fill: $color1
         font-size: 16px
         +trs
         +xs
            font-size: 20px
   
   &__container
      display: inline-block
      vertical-align: middle
      max-width: 874px
      width: 100%
      position: relative
      padding: 0 15px
      margin: 30px auto
      transition: opacity .5s ease, transform .5s ease
      transform: translate3d(0, -100px, 0)
      will-change: transform, opacity
      text-align: center
      background-color: $white
      #{$parent}_sm &
         max-width: 330px
         +xs
            max-width: 300px
      #{$parent}_md &
         max-width: 706px
         +xs
            margin: 0
   &__title
      +f('pn700', 24, 20)
      text-transform: uppercase
   p
      color: $color2
      font-size: 13px
      line-height: 18px

body.popup-opened
   overflow: hidden

.popup.opened .popup__container
   -webkit-transform: translate3d(0, 0, 0)
   -moz-transform: translate3d(0, 0, 0)
   transform: translate3d(0, 0, 0)

// *** begin thanks-popup *** //
.thanks-popup
   padding: 20px 5px 25px
   text-align: center
   &__logo
      pointer-events: none
      margin: 0 auto 10px
   &__title
      margin-bottom: 10px
      font-size: 16px
   &__btn
      display: none
   p
      max-width: 200px
      margin: 0 auto
      text-align: center
// end thanks-popup //

// *** begin call-block *** //
.call-block
   $parent: &
   padding: 35px 15px 30px
   +xs
      padding: 35px 8px 30px
   &_solutions-popup
      padding: 0
      +xs
         padding: 0
   &__text
      margin-bottom: 20px
   &__title
      margin-bottom: 10px
      #{$parent}_solutions-popup &
         text-align: left
         +xs
            text-align: center
   &__form
      text-align: left
      &-field
         &:not(:last-child)
            margin-bottom: 15px
      
      &-submit
         width: 100%
         margin-bottom: 30px
         padding: 15px 25px
         letter-spacing: 0
   p
      text-align: center
   &_solutions-popup p
      text-align: left
      +xs
         text-align: center
// end call-block //

// *** begin solutions-popup *** //
.solutions-popup
   padding: 35px 20px
   text-align: left
   +xs
      padding: 35px 0
   &__col
      &:nth-child(1)
         flex: 0 1 55%
         width: 55%
         +xs
            flex: 0 1 auto
            width: 100%
            margin-bottom: 20px
      &:nth-child(2)
         flex: 0 1 45%
         width: 45%
         +xs
            flex: 0 1 auto
            width: 100%
   
   &__title
      margin-bottom: 15px
      text-align: left
      line-height: 26px
   p
      &:not(:last-child)
         margin-bottom: 20px
// end solutions-popup //
