.icon-arrows-top {
  width: 1.06em;
  height: 1em;
  fill: #E21C21;
}
.icon-close {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.icon-coin-purse {
  width: 1.12em;
  height: 1em;
  fill: #D5B893;
}
.icon-coins {
  width: 1.2em;
  height: 1em;
  fill: #D5B893;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: #E21C21;
}
.icon-phone-ring {
  width: 1.31em;
  height: 1em;
  fill: none;
}
.icon-quote {
  width: 1.23em;
  height: 1em;
  fill: #E21C21;
}
.icon-rubl-2 {
  width: 0.76em;
  height: 1em;
  fill: none;
}
.icon-rubl {
  width: 0.7em;
  height: 1em;
  fill: #21262D;
}
.icon-sand-clock {
  width: 0.59em;
  height: 1em;
  fill: #D5B893;
}
.icon-scales {
  width: 1em;
  height: 1em;
  fill: #D5B893;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: #D5B893;
}
